.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 145px;
    height: 100vh;
    background-color: black;
}

.game-over {
    color: #a1f7e3;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    margin: 10px;
}

.try-again-button,
.logout-button {
    text-decoration: none;
    border: 2px, solid, #a1f7e3;
    background-color: #a1f7e3;
    padding: 10px 20px 10px 20px;
    color: black;
    margin: 15px;
    font-size: 20px;
}

.your-score {
    color: #a1f7e3;
    font-size: 35px;
}