.nav-button {
    text-decoration: none;
    color: white;
    border: 2px solid gray;
    margin-left: 20px;
    padding: 5px;
    color: black;
    background-color: #a1f7e3;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: absolute;
    z-index: 1;
    color: #a1f7e3;
    left: 0;
    right: 0;
    margin-inline: auto;

}

#score {
    margin-right: 10px;
}

@media screen and (max-width: 600px) {

    .score-lives,
    .best-score {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;        
        text-align: center;
    }

    .score-lives{
        align-items: flex-start;
    }

    .nav-buttons {
        justify-content: space-between;
    }

    .best-score{
        flex-direction: column-reverse;
        align-items: flex-end;

    }
    #score {
        margin-right: 0px;
    }

    .nav-button{
        margin-left: 0px;
        padding: 2px;
    }
}