.nav-button {
    text-decoration: none;
    color: white;
    border: 2px solid gray;
    /* margin-top: 20px; */
    margin-left: 20px;

    padding: 5px;

    color: black;
    background-color: #a1f7e3;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: absolute;
    z-index: 1;
    color: #a1f7e3;
    left: 0;
    right: 0;
    margin-inline: auto;

}

#score {
    margin-right: 10px;
}