.register-form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    color: #a1f7e3;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .register-form {
        gap: 0px;
        width: 70%;
    }

    .form-text {
        font-size: 14px;
    }
}